*.swp
*.swo
*.swm
*.swn
.deps
obj
treeapprox_binsearch.tar.gz
treeapprox_binsearch
treeapprox_binsearch_test
treeapprox_binsearch.mexa64
treeapprox_binsearch.mexmaci64
treeexact_fulltable
treeexact_fulltable_test
treeexact_fulltable.mexa64
treeexact_fulltable.mexmaci64
