*.swp
*.swo
*.swm
*.swn
.deps
obj
treeapprox_binsearch.tar.gz
treeapprox_binsearch
treeapprox_binsearch_test
treeapprox_binsearch.mexa64
treeapprox_binsearch.mexmaci64
treeexact_fulltable
treeexact_fulltable_test
treeexact_fulltable.mexa64
treeexact_fulltable.mexmaci64
treeexact_smalltable
treeexact_smalltable_test
treeexact_smalltable.mexa64
treeexact_smalltable.mexmaci64
treeexact_smalltable_wvtree
treeexact_smalltable_wvtree_test
treeexact_smalltable_wvtree.mexa64
treeexact_smalltable_wvtree.mexmaci64
treeexact_fulltable_wvtree
treeexact_fulltable_wvtree_test
treeexact_fulltable_wvtree.mexa64
treeexact_fulltable_wvtree.mexmaci64
rearrange_wavedec2_test
rearrange_wavedec2.mexa64
rearrange_wavedec2.mexmaci64
